@import '~node_modules/modern-normalize/modern-normalize.css';
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a,
img,
input,
label,
textarea {
  display: block;
}

li,
ul {
  list-style: none;
}

title {
  display: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

.navbar {
  display: flex;
  padding: 24px 0px;
  justify-content: space-between;
  align-items: center;
}

.nav {
  align-items: center;
}

.nav-link {
  font-family: "Inter", serif, "Montserrat", sans-serif;
  position: relative;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.14px;
  color: black;
  display: flex;
  align-items: center;
  gap: 5px;
}
.nav-link__button {
  position: absolute;
  border: none;
  background: none;
  outline: none;
  width: 24px;
  height: 24px;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 48px;
}

.input-group-text {
  padding: 0;
  margin: 0;
}

.container-sm {
  background-color: #fff;
}

.wrapper-box {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  gap: 64px;
  background-color: #dcc1ab;
}

.col {
  display: flex;
  width: 599px;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  gap: 64px;
  justify-content: center;
}
.col__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 44px;
  align-self: stretch;
  color: #111;
  font-family: "Inter", serif, "Montserrat", sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: 70px;
}
.col__btn {
  padding: 12px 24px 14px 24px;
  align-items: center;
  border-radius: 200px;
  background-color: #1b5b31;
  color: #f5f0ec;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  border: 1px solid #1b5b31;
}
.col__btn-second {
  padding: 12px 22px 14px 22px;
  border-radius: 200px;
  color: #1b5b31;
  text-align: center;
  font-size: 16px;
  border: 1px solid #1b5b31;
  border-top: 1px solid #1b5b31;
  background-color: #dcc1ab;
}
.col__caption {
  color: #111;
  font-family: "Inter", serif, "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 44px;
}

.buttons {
  display: flex;
  align-items: flex-start;
  gap: 36px;
}

.box {
  display: flex;
  flex-direction: row;
}

.image {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-shrink: 0;
}

.section {
  padding-top: 120px;
}

.wrapper-frame {
  display: flex;
  width: 709px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  margin-bottom: 96px;
}

.custom-font {
  font-family: "Inter", serif, "Montserrat", sans-serif, sans-serif;
  font-style: italic;
}

.font {
  color: #111;
  font-family: "Inter", serif, "Montserrat", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -1.44px;
}

.text {
  color: #111;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.16px;
  font-family: "Inter", serif, "Montserrat", sans-serif;
}

.nav-link-custom {
  color: #1b5b31;
  font-family: "Inter", serif, "Montserrat", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.12px;
  padding: 0;
}/*# sourceMappingURL=index.css.map */