<section class="content-about">
  <div class="row">
    <div class="boxing">
      <div class="col">
        <img
          class="photo img-fluid"
          src="/src/images/Photo(2).png"
          alt="slider"
        />
      </div>
      <div class="container col side">
        <ul class="nav">
          <li class="nav-item">
            <a
              class="nav-link active nav-link-custom nav-item-color"
              aria-current="page"
              href="#"
              >O firmie</a
            >
          </li>
        </ul>
        <div>
          <h3 class="font font-color">
            Tworzymy
            <span class="custom-font">z pasją</span>
          </h3>
          <p class="text text-color">
            Każdy projekt to nowe wyzwanie. Dlatego nasz zespół tworzą
            wykwalifikowani projektanci oraz architekci, których zadaniem jest
            rozpoznanie i realizacja potrzeb każdego Klienta. Nasza
            specjalizacja to przestrzenie nowoczesne, które charakteryzuje
            minimalizm, geometria i elegancka prostota. Tworzymy ogrody
            małoobsługowe, dostosowane do współczesnego trybu życia.
          </p>
          <button class="btn btn-about" type="button">
            Poznaj nas bliżej
            <svg class="icon icon-color" width="16" height="16">
              <use href="/src/images/symbol-defs.svg#icon-arrow-right2"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
