<section class="footer-content">
  <div class="container">
    <div class="content-position">
      <div class="footer-main">
        <a class="navbar-brand foot-logo" href="#">
          <img
            src="/src/images/giarddesign(4).svg"
            width="115"
            height="19"
            alt="logo"
          />
        </a>
        <ul class="footer-log">
          <li>
            <p class="text-foot">Daj znać, co możemy dla Ciebie zrobić!</p>
          </li>
          <li class="btn-foot">
            <button class="btn btn-footer" type="button">
              Skontaktuj się z nami
            </button>
          </li>
        </ul>
      </div>
    </div>
    <div class="content-position">
      <div class="middle-footer">
        <ul class="media-item">
          <li>Kontakt</li>
          <li>Instagram</li>
          <li>Facebook</li>
          <li>LinkedIn</li>
        </ul>
        <ul class="contact-item">
          <li>000-000-000</li>
          <li>giarddesign@kontakt.pl</li>
        </ul>
      </div>
    </div>
    <div class="content-end">
      <ul class="media-item item-rights">
        <li>Prawa zastrzeżone © 2022</li>
      </ul>
      <ul class="contact-item item-rights">
        <li>made by</li>
        <li>
          <a class="navbar-brand foot-logo" href="#">
            <img
              src="/src/images/logo-full-light.svg"
              width="115"
              height="19"
              alt="logo"
            />
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
