<section class="insta-block">
  <div class="container">
    <div class="centre">
      <h3 class="font font-color">
        Zostańmy w kontakcie! Znajdziesz nas na
        <span class="custom-font">Instagramie.</span>
      </h3>
      <ul class="list-inst">
        <li>
          <p class="text text-color">Śledź nasze najnowsze realizacje!</p>
        </li>
        <li class="btns">
          <button class="btn btn-instagram" type="button">Instagram</button>
        </li>
      </ul>
    </div>
  </div>
</section>
