<div class="wrapper-box">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="col__text">Nowoczesna aranżacja Twojego ogrodu</h1>
        <p class="col__caption">
          Marka GiardDesign to wieloletnie doświadczenie i wysoka estetyka
          realizacji. Oferujemy kompleksowy zakres usług z indywidualnym
          podejściem do każdego projektu.
        </p>
        <div class="buttons">
          <button type="button" class="btn btn-primary col__btn">
            Skontaktuj się z nami
          </button>
          <button type="button" class="btn btn-primary col__btn-second">
            Zobacz nasze realizacje
          </button>
        </div>
      </div>

      <div class="fixed-right col">
        <img class="image" src="/src/images/Photo.jpg" alt="slider" />
      </div>
    </div>
  </div>
</div>
