<section class="wrapper-box">
  <div
    id="carouselExampleInterval"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active left-side" data-bs-interval="3000">
        <div class="box-left">
          <h2 class="col__text">Nowoczesna aranżacja Twojego ogrodu</h2>
          <p class="col__caption">
            Marka GiardDesign to wieloletnie doświadczenie i wysoka estetyka
            realizacji. Oferujemy kompleksowy zakres usług z indywidualnym
            podejściem do każdego projektu.
          </p>

          <div class="buttons">
            <button type="button" class="btn col__btn">
              Skontaktuj się z nami
            </button>
            <button type="button" class="btn col__btn-second">
              Zobacz nasze realizacje
              <img
                class="icon"
                width="16"
                height="16"
                src="/src/images/Vector(7).svg"
              />
            </button>
          </div>
        </div>
      </div>
      <div class="lop">
        <img
          src="/src/images/Photo.jpg"
          loading="lazy"
          class="image"
          alt="slider"
        />
      </div>
    </div>

    <div class="carousel-item" data-bs-interval="2000"></div>
  </div>
</section>
