<nav class="navbar navbar-light">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img
        src="/src/images/giarddesign(1).png"
        width="115"
        height="19"
        alt="logo"
      />
    </a>
    <ul class="nav">
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          data-bs-toggle="dropdown"
          href="#"
          role="button"
          aria-expanded="false"
          >Oferta</a
        >
        <ul class="dropdown-menu drop-bg">
          <li><a class="dropdown-item" href="#">Projekty</a></li>
          <li>
            <a class="dropdown-item" href="#">Wizualizacje</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Realizacje</a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">O firmie</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Realizacje</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Kontakt</a>
      </li>
      <li class="nav-item search-backdrop show">
        <button
          type="button"
          class="nav-link__button"
          data-bs-toggle="modal"
          data-bs-target="#staticBackdrop"
        >
          <img width="24" height="24" src="/src/images/Icon 01(2).svg" />
        </button>

        <div
          class="modal fade"
          id="staticBackdrop"
          data-bs-backdrop="static"
          data-bs-keyboard="false"
          tabindex="-1"
          aria-labelledby="staticBackdropLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">
                  Szukaj
                </h1>

                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <input
                  class="form-control"
                  type="text"
                  placeholder=""
                  aria-label="default input example"
                />
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn col__btn"
                  data-bs-dismiss="modal"
                >
                  Anuluj
                </button>
                <button
                  type="button"
                  class="btn col__btn"
                  data-bs-dismiss="modal"
                >
                  Znajdź
                </button>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>
