<nav class="navbar navbar-light">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img
        src="/src/images/giarddesign(2).svg"
        width="115"
        height="19"
        alt="logo"
      />
    </a>
    <ul class="nav">
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          data-bs-toggle="dropdown"
          href="#"
          role="button"
          aria-expanded="false"
          >Oferta</a
        >
        <ul class="dropdown-menu drop-bg">
          <li><a class="dropdown-item" href="#">Kup projekt ogrodu</a></li>
          <li>
            <a class="dropdown-item" href="#">Stwórz swój projekt</a>
          </li>
          <li>
            <a class="dropdown-item" href="#"
              >Zamów konsultację z projektantem</a
            >
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">O firmie</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Realizacje</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Kontakt</a>
      </li>
      <li class="nav-item">
        <button type="button" class="nav-link__button">
          <svg>
            <use
              href="/src/images/symbol-defs.svg#icon-search"
              width="24"
              height="24"
            ></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</nav>
