<section class="section">
  <div class="container wrapper-frame">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active nav-link-custom" aria-current="page" href="#"
          >Oferta</a
        >
      </li>
    </ul>
    <h3 class="font">
      Działamy
      <span class="custom-font">kompleksowo</span>
    </h3>
    <a class="text">
      Oferujemy kompletną obsługę inwestycji terenów zielonych. Projektujemy
      nowoczesne ogrody przydomowe oraz rezydencjonalne. Stworzymy dla Ciebie
      projekt, zwizualizujemy go i wcielimy w życie, a na każdym etapie
      posłużymy radą i wieloletnim doświadczeniem.
    </a>
  </div>
</section>
