<section class="section-realizes">
  <div class="container">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active nav-link-custom" aria-current="page" href="#"
          >Realizacje</a
        >
      </li>
    </ul>
    <h3 class="font">
      Nasze
      <span class="custom-font">realizacje</span>
    </h3>
  </div>

  <div class="grid">
    <a href="/src/images/Photo(3).png" class="grid-item">
      <img class="img1" src="/src/images/Photo(3).png" />
    </a>
    <a href="/src/images/Photo(4).png" class="grid-item">
      <img class="img2" src="/src/images/Photo(4).png" />
    </a>
    <a href="/src/images/Photo(5).png" class="grid-item">
      <img class="img3" src="/src/images/Photo(5).png" />
    </a>
    <a href="/src/images/Photo(6).png" class="grid-item">
      <img class="img4" src="/src/images/Photo(6).png" />
    </a>
    <a href="/src/images/Photo(7).png" class="grid-item">
      <img class="img5" src="/src/images/Photo(7).png" />
    </a>
    <a href="/src/images/Photo(8).png" class="grid-item">
      <img class="img6" src="/src/images/Photo(8).png" />
    </a>
    <a href="/src/images/Photo(9).png" class="grid-item">
      <img class="img7" src="/src/images/Photo(9).png" />
    </a>
    <a href="/src/images/Photo(10).png" class="grid-item">
      <img class="img8" src="/src/images/Photo(10).png" />
    </a>
  </div>

  <button type="button" class="btn btn-load">Rozwiń</button>
</section>
