<section class="section-realizes">
  <div class="container">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active nav-link-custom" aria-current="page" href="#"
          >Realizacje</a
        >
      </li>
    </ul>
    <h3 class="font">
      Nasze
      <span class="custom-font">realizacje</span>
    </h3>
  </div>

  <div class="grid">
    <div class="grid-item">
      <img src="/src/images/Photo(3).png" />
    </div>
    <div class="grid-item">
      <img src="/src/images/Photo(4).png" />
    </div>
    <div class="grid-item"><img src="/src/images/Photo(5).png" /></div>
    <div class="grid-item">
      <img src="/src/images/Photo(6).png" />
    </div>
    <div class="grid-item"><img src="/src/images/Photo(7).png" /></div>
    <div class="grid-item">
      <img src="/src/images/Photo(8).png" />
    </div>
    <div class="grid-item">
      <img src="/src/images/Photo(9).png" />
    </div>
    <div class="grid-item"><img src="/src/images/Photo(10).png" /></div>
  </div>
  <button type="button" class="load-more hidden">Load more</button>
</section>
