.content-about {
  display: flex;
  align-items: center;
  gap: 64px;
  background-color: #1b5b31;
}
.boxing {
  display: flex;
  width: 596px;
  padding-left: 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 72px;
  flex-shrink: 0;
}
.font-color {
  color: #f5f0ec;
}
.text-color {
  color: #f5f0ec;
}
.photo {
  flex-shrink: 0;
  display: flex;
  align-content: flex-start;
}
.row-custom {
  flex-wrap: nowrap;
}
