.content-about {
  display: flex;
  gap: 64px;
  background-color: #1b5b31;
}
.boxing {
  display: block;
}
.font-color {
  color: #f5f0ec;
}
.text-color {
  color: #f5f0ec;
}
.photo {
  flex-shrink: 0;
  display: flex;
}
.nav-item-color {
  color: #f5f0ec;
  padding-top: 10px;
}
.btn-about {
  display: flex;
  padding: 12px 22px 14px 22px;
  align-items: center;
  gap: 8px;
  border-radius: 200px;
  border: 1px solid #f5f0ec;
  color: #f5f0ec;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  &:hover {
    border: rgb(145, 132, 165) 1px solid;
    box-shadow: 5px 5px 20px#1b5b31;
    cursor: pointer;
    fill: #042110;
  }
  &:active {
    transform: scale(0.9);
  }
}
.btns {
  padding-bottom: 20px;
  padding-top: 20px;
}
.icon-color {
  fill: #f5f0ec;
}
@media (min-width: 768px) {
  .photo {
    display: flex;
  }
  .boxing {
    display: flex;
  }
  .side {
    margin-left: 96px;
    display: block;
    padding-top: 30px;
  }
}
