.footer-content {
  background: #111;
  padding-top: 80px;
}

.text-foot {
  color: #f5f0ec;
  margin-bottom: 10px;
}
.btn-footer {
  display: flex;
  padding: 12px 24px 14px 24px;
  align-items: center;
  gap: 10px;
  border-radius: 200px;
  background: #1b5b31;
  color: #f5f0ec;
  &:hover {
    border: rgb(145, 132, 165) 1px solid;
    box-shadow: 5px 5px 20px#1b5b31;
    cursor: pointer;
    color: #f5f0ec;
  }
  &:active {
    transform: scale(0.9);
  }
}
.footer-main {
  display: block;
}
.content-position {
  position: relative;
}
.foot-logo {
  padding-bottom: 44px;
}
.footer-log {
  padding: 0;
  display: block;
}
.middle-footer {
  ::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 89px;
    height: 1px;
    background: #f5f0ec;
  }
  display: block;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}
.media-item {
  color: #f5f0ec;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 30px;
  font-size: 14px;
  padding: 0;
}
.contact-item {
  font-size: 14px;
  color: #f5f0ec;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 48px;
  font-size: 14px;
}

.content-end {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  margin-top: 69px;
}
.item-rights {
  gap: 16px;
  display: block;
}
.btn-foot {
  margin-bottom: 74px;
}
@media (min-width: 768px) {
  .footer-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    padding-bottom: 62px;
  }
  .footer-log {
    display: flex;
    align-items: center;
    gap: 24px;
    margin: 0;
  }
  .foot-logo {
    padding: 0;
  }
  .text-foot {
    margin: 0;
  }
  .media-item {
    display: flex;
    gap: 48px;
  }
  .contact-item {
    display: flex;
  }
  .middle-footer {
    display: flex;
  }
  .content-end {
    padding-top: 120px;
    margin-top: 0;
  }
  .item-rights {
    display: flex;
  }
  .btn-foot {
    margin-bottom: 0px;
  }
}
