.footer-content {
  background: #111;
  padding-top: 80px;
}

.text-foot {
  color: #f5f0ec;
  margin-bottom: 10px;
}
.btn-footer {
  display: flex;
  padding: 12px 24px 14px 24px;
  align-items: center;
  gap: 10px;
  border-radius: 200px;
  background: #1b5b31;
  color: #f5f0ec;
}
.footer-main {
  display: block;
}
// .footer-main::after {
//   content: '';
//   position: absolute;
//   top: 45px;
//   height: 4px;
//   border-radius: 10px 10px 10px 10px;
// }
.foot-logo {
  padding-bottom: 44px;
}
.footer-log {
  padding: 0;
  display: block;
}

@media (min-width: 768px) {
  .footer-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
  }
  .footer-log {
    display: flex;
    align-items: center;
    gap: 24px;
  }
  .foot-logo {
    padding: 0;
  }
  .text-foot {
    margin: 0;
  }
  .media-item {
    display: flex;
  }
  .contact-item {
    display: flex;
  }
  .end-footer {
    display: flex;
  }
}
