.wrapper-box {
  background-color: #dcc1ab;
}
.col {
  display: block;

  &__text {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
  }
  &__btn {
    padding: 12px 22px 14px 22px;
    align-items: center;
    border-radius: 200px;
    background-color: #1b5b31;
    color: #f5f0ec;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    border: 1px solid #1b5b31;

    &:hover {
      border: rgb(145, 132, 165) 1px solid;
      box-shadow: 5px 5px 20px#1b5b31;
      cursor: pointer;
      color: #1b5b31;
    }
    &:active {
      transform: scale(0.9);
    }
  }
  &__btn-second {
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 8px;
    padding: 12px 22px 14px 22px;
    border-radius: 200px;
    color: #1b5b31;
    text-align: center;
    font-size: 16px;
    border: 1px solid #1b5b31;
    border-top: 1px solid #1b5b31;
    background-color: #dcc1ab;
    &:hover {
      border: #1b5b31 1px solid;

      box-shadow: 5px 5px 20px#1b5b31;
      cursor: pointer;
      color: #1b5b31;
    }
    &:active {
      transform: scale(0.9);
    }
  }
  &__caption {
    color: #111;
    font-family: $font-stack;
    font-size: 13px;
  }
}
.lop {
  display: flex;
  justify-content: flex-end;
}
.buttons {
  display: block;
  margin: 20px;
}

.box-left {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

.left-side {
  padding-top: 250px;
  background-color: #dcc1ab;
  padding-bottom: 200px;
}
@media (min-width: 768px) {
  .col {
    display: flex;

    &__text {
      font-family: 'Montserrat', sans-serif;
      font-size: 60px;
      line-height: 70px;
    }
    &__caption {
      font-family: 'Inter', serif;
      font-size: 16px;
    }
    &__btn-second {
      margin-top: 0;
      margin-left: 10px;
    }
  }
  .left-side {
    padding-left: 67px;
    padding-top: 170px;
    padding-bottom: 0px;
    background: none;
  }
  .box-left {
    width: 554px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }
  .buttons {
    display: flex;
  }
}
