.navbar {
  display: flex;

  padding: 24px 0px;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  font-family: 'Inter', serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.14px;
  color: black;
  gap: 5px;
  &__button {
    position: absolute;
    border: none;
    background: none;
    outline: none;
    width: 24px;
    height: 24px;
  }
}
.drop-bg {
  background-color: #d4c4b6;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 48px;
}
.input-group-text {
  padding: 0;
  margin: 0;
}
.search-backdrop {
  max-width: 900px;
}
